/* Index
------------------------------------------ */
/* Global styles
/* Profile 
/* Projects
/* Work Experience
/* Education
/* Contact Info
/* Responsive
/* --------------------------------------- */

/* Global styles
------------------------------------------ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0;

  --img-width: 30rem;
}

body {
  color: #2d3142;

  font-size: 1.7rem;
  line-height: 1.5;

  overscroll-behavior-y: none;

  /* normalize */
  margin: 0;
  padding: 0;
}

main {
  background: rgba(247, 247, 247);
}

img {
  /* 4:3 aspect ratio */

  width: var(--img-width);
  height: calc(var(--img-width) * 3 / 4);
  border: 1px solid #4f5d75;
  border-radius: 2rem;
}

a {
  color: darkorange;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: "Kalam", serif;
  margin: 0;
}

.content-wrap {
  max-width: 90rem;
  width: 85%;
  /* when the viewport is smaller than the max-width value, the width value will apply */
  margin: 0 auto;
  padding: 6rem 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

/* Profile 
------------------------------------------ */
header {
  background-color: #4f5d75;
  /* background-color: #2d3142; */
  color: #fdffff;

  /* border-bottom: 1px solid #2d3142; */
  box-shadow: 0 0 3px 3px #2d3142;
}

/* Projects 
------------------------------------------ */

.projects {
  background: rgba(247, 247, 247);
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.projects a {
  color: #567dc1;
}

.btn {
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0;
  border-bottom: 1px solid #567dc1;
  display: inline-block;
}

.btn::after {
  content: "";
  display: inline-block;
  position: relative;

  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
}

.btn:hover {
  border-bottom-color: #fdffff;
}

.btn.demo::after {
  background-image: url("../images/links/external_link.svg");
  top: 1rem;
  left: 0.8rem;
}

.btn.repo::after {
  background-image: url("../images/links/github_link.svg");
  top: 0.8rem;
  left: 0.8rem;
}

.card {
  background: #fdffff;
  padding: 2rem;
  padding-bottom: 4rem;
  border: 1px solid #2d3142;
  border-radius: 1rem;

  box-shadow: 0 0 10px 1px #4f5d75;
  /* box-shadow: 0 0 5px 3px #4f5d75; */
}

.divider {
  margin: 4rem auto;
  border-bottom: 1px dashed black;
  width: 100%;
}

.project-item {
  /* display: flow-root; */
  display: flex;
  flex-direction: column;
}

.project-item img {
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-item h3 {
  margin-top: 0;
}

/* Work Experience 
------------------------------------------ */
.work-experience {
  background: #e0787f;
}

/* Education 
------------------------------------------ */
.education {
  background-image: url("../images/olia-gozha-unsplash.jpg");
  background-size: cover;
  background-position: center left;
  padding-bottom: 10rem;

  box-shadow: 0 0 5px 3px #4f5d75;
}

.education p {
  width: 60%;
}

/* Contact Info 
------------------------------------------ */
footer {
  background: #2d3142;
  /* background-color: #4f5d75; */
  color: #fdffff;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list a {
  padding: 1.5rem;
  display: inline-block;
  text-underline-offset: 0.3rem;
}

.contact-list li:nth-of-type(2) a,
.contact-list li:nth-of-type(3) a {
  text-decoration: none;
  cursor: default;
}

.contact-list a::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.5rem;
  right: 0.8rem;
  height: 3rem;
  width: 2.6rem;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contact-list #mail::before {
  /* email */
  background-image: url("../images/links/mail.svg");
}

.contact-list #phone::before {
  /* phone */
  background-image: url("../images/links/phone.svg");
}

.contact-list #location::before {
  /* location */
  background-image: url("../images/links/location.svg");
}

.contact-list #linkedin::before {
  /* linkedin*/
  background-image: url("../images/links/linkedin_logo1.svg");
  background-size: 3.6rem 3.6rem;
  background-position: center 0;
}

/* Responsive 
------------------------------------------ */
@media screen and (min-width: 1060px) {
  .project-item {
    flex-direction: row;
  }
  .project-item img {
    /* float: left; */
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }

  .contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 6rem;
    line-height: 0.9;
    margin-bottom: 2rem;
  }

  h2 {
    line-height: 1;
  }

  .contact-list a {
    padding: 0.5rem;
  }
}

/* makes the .card occupy 100% width of container for mobile view without interfering with margin of other sections */
@media screen and (max-width: 425px) {
  .projects .content-wrap {
    width: 100%;
  }
}

/* clips image for very small mobile screens */
.project-item {
  overflow: hidden;
}
